<!DOCTYPE html>
<html>
<head>

	<link rel  = "stylesheet" type = "text/css" href = "bootstrap.css">
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

	<style type = "text/css">
	body {
  /*background-image: url('offices.jpg') ;*/
  background-color: #FFFFFF
  background-size: cover;
  height: 100%; 

    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
}
</style>

<link rel  = "stylesheet" type = "text/css" href = "styles.css">

</head>

<body>
	<!-- *********** NAVIGATION BAR  ************** -->
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header" id= "navHeader">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a  href = "home.html">
					<img id = "logo" src = "ImagineTech2.PNG">
				</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right navbar-uppercase">
                    	<li><a id= "navElementHome" href="#">Gaurd Sense  <i class="fa fa-recycle" aria-hidden="true"></i></a></li>
					<li><a id= "navElementHome" href="learn.html">Learn   <i class="fa fa-microchip" aria-hidden="true"></i></a></li>
					<li><a id= "navElementHome" href="about.html">About   <i class="fa fa-users" aria-hidden="true"></i></a></li>
					<li><a id= "navElementHome" href="#">Dev Blog  <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
	
	<div class = "custom-container container">
	
        <div class="jumbotron" id="AboutJumbo" align="center">
              <h1>Imagine Technologies</h1>
              <p><a id = "JoinButton" class="btn btn-primary btn-lg" href="#" role="button">Join Us</a></p>
        </div>
    
        <div>
	        <p id="TheTeam">Company Info</p>
	    </div>
    
        <div>
            <p id="CompanyInfo">Imagine Technologies creates high-quality, custom gear, apparel, and products inspired and designed by our online communities. We provide millions of members a place to connect, discuss, buy products together, and learn about the things that are important to them.</p>
        </div>
    
	    <div>
	        <p id="TheTeam">The Team</p>
	    </div>
	
	    <div class = "BioPics">
	         <img class = "profilePics" src="team_pics/NewCircleIvan.png">
	         <img class = "profilePics" src="team_pics/GabeCircle.png">
	    </div>
	
	    <div class = "PicSubText" >
	         <h3 id = "CoFounder">Co-Founder</h3>
	     </div>
	     
	    <div class = "PicSubText" >
	      <h3 id = "CoFounder">Co-Founder</h3>
	     </div>
	     
	      <div class = "BioText" >
	      <p>Aliquam erat volutpat. Aliquam mauris eros, placerat at nisl nec, vehicula rutrum quam. Nullam facilisis diam in ex rutrum luctus. Cras laoreet id libero non sodales. Nam venenatis, eros consectetur tristique iaculis, augue neque vestibulum nibh, id rutrum ipsum ex at sem. Praesent mollis dapibus egestas. Phasellus nisl sapien, hendrerit id vulputate sit amet, dignissim vitae elit.</p>
	     </div>
	     
	     <div class = "BioText" >
	      <p>Aliquam erat volutpat. Aliquam mauris eros, placerat at nisl nec, vehicula rutrum quam. Nullam facilisis diam in ex rutrum luctus. Cras laoreet id libero non sodales. Nam venenatis, eros consectetur tristique iaculis, augue neque vestibulum nibh, id rutrum ipsum ex at sem. Praesent mollis dapibus egestas. Phasellus nisl sapien, hendrerit id vulputate sit amet, dignissim vitae elit.</p>
	     </div>
	     
	 
	     <div>
	        <p id="TheTeam">Our Mission</p>
	    </div>
	
	    <div>
	        <p id="TheTeam">Future Vision</p>
    	</div>
	
	<!--<table>-->
	<!--    <tr>-->
	<!--        <th>-->
	<!--            <img class = "profilePics" src="team_pics/NewCircleIvan.png">-->
	<!--        </th>-->
	<!--        <th>-->
	<!--            <img class = "profilePics" src="team_pics/GabeCircle.png">-->
	<!--        </th>-->
	        
	<!--    </tr>-->
	<!--    <tr>-->
	        
	        
	<!--    </tr>-->
	    
	<!--</table>-->
	</div>

</body>