<!DOCTYPE html>
<html>
<head>

	<link rel  = "stylesheet" type = "text/css" href = "bootstrap.css">
	<link rel  = "stylesheet" type = "text/css" href = "styles.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<style type = "text/css">
	body {
  background-image: url('constructionSite.jpg') ;
 /* background-color: #0E74E8; */
  background-size: cover;
  height: 100%; 

    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
}
</style>


</head>
<body>
	<!-- *********** NAVIGATION BAR  ************** -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home.html">Imagine Technologies</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right" id="topmenu">
					<li><a href="#">Gaurd Sense  <i class="fa fa-recycle" aria-hidden="true"></i></a></li>
					<li><a href="#">Invest   <i class="fa fa-microchip" aria-hidden="true"></i></a></li>
					<li><a href="about.html">About   <i class="fa fa-users" aria-hidden="true"></i></a></li>
					<li><a href="#">Dev Blog  <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	

	<!-- *******center blurb****** -->
	<div class="container welcome">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
				<h1>The Future of Safety</h1>
					<h3>Dedicated to Saving Lives</h3>
					<hr>
					<button class="btn btn-default btn-lg"><a href="#begin-trip">Learn More</a>  <i class="fa fa-thumbs-o-up" style="font-size:25px" aria-hidden="true"></i></button>
					<button class="btn btn-default btn-lg"><a href="#begin-trip">Get Involved</a>  <i class="fa fa-thumbs-o-up" style="font-size:25px" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
	</div>


	<!-- second section - About -->
	<div id = "about" class = "pad-section">
		<div class = "container">
			<div class="row">
				<div class="col-sm-6">
					<img src="Summer.jpg" alt="" />
				</div>
				<div class="col-sm-6 text-center">
				<h2>We build and conceive revolutionary safety products that make real world impacts</h2>
				<p class="lead">We are currently building our first accessory for hard hats, ensuring construction workers get the fasted alert when an object is falling towards them</p>
				</div>
			</div>
		</div>
	</div>

	<div class = "news">
		<h1>Creation of the team</h1>
	</div>

</body>
</html>
