

/*****************   NAVBAR   ***************/
.navbar-default {
  background: none;
  border: #004e64;
 

}


#logo{
width:35%;
  float: left;
}

#navBrand{
    margin-left: 13vw;
}


#topmenu{
  width: 40vw;
   margin-left: 1%;
   color: #000000;
   font-size: 2vw;
   z-index: 100;
   /*border: 3px solid blue;*/
   
}

#navRight{
    margin-right: 13vw;
    margin-top:0;
    margin-bottom:0;
}

#navElementHome{
   
    margin-left: 4px;
    border-bottom: 2px solid  #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}


#navElement{
    color: #333;
    margin-left: 4px;
    border-bottom: 2px solid  #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}
.navbar .navbar-default .navbar-transparent .navbar-fixed-top{
     border-bottom: 2px solid  #333;
    border-left: 2px solid #333;
    border-right: 2px solid #FFFFFF;
    
}

.navbar .navbar-default .navbar-fixed-top{
    color: #333;
}

#navText{
    margin: 0;
    margin-left: 6px;
     border: 2px solid white; 
}

#topmenuAbout{
    right: -10px;
   padding: 5px 10px;
   color: #000000;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Lato', sans-serif;
  /*font-size: 1.5em;*/
  
  
    color: #000000;
}

.navbar-default .navbar-nav>li>a:hover{
  /*border: 2px solid white; */
  /*border-radius: 2px; */
  background-color: #333;
    color: #FFFFFF;
       /*border: 3px solid blue*/

}

.navbar-default .navbar-brand {
 
  color: #0E74E8;
  
  width: 13vw;
  padding-left: 20%;
  margin-left: 100%;
  

}


.btn-default:hover{
  color: #004e64;
  background-color: #d1faff;
}

.navbar-default .navbar-brand:hover{
  color: #30bced;
}


/*Hamburger thing*/
.navbar-default .navbar-toggle .icon-bar{ 
  background-color: #004e64;
  

}

#content { 
  text-align: center; 
  padding-top: 40%;
  padding-bottom: 40%;
  color: #000000;
}
#about{
  background-color: #FFFFFF;
}

.news{

  background: url(recycling-wallpaper.jpeg)
  no-repeat center center fixed;
  position: relative;

  padding-top: 50%;
  color: #FFFFFF;
}

hr{
   height: 12px;
   border-top: 3px solid white ;
   width: 90%;
}

h3{
  color: white;
  letter-spacing: 3;
}




/*   ********squad page styles********* */

#AboutJumbo{
  margin-left: 2%;
  margin-right: 2%;
  background-image: url("Montreal.jpg");
  background-size: 100% 100%;
 

}
#TheTeam{
    font-family: Raleway;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 3px solid #333;
    padding-top: 10px;
    padding-bottom: 30px;
     text-align: center; 
     
}

#JoinButton{
  background-image: linear-gradient(282deg,#00aeda,#006ee0);
      padding-left: 40px;
    padding-right: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  margin-top: 35%
}

#CompanyInfo{
  font-family: 'Merriweather', serif;
   font-size: 1.2em;
   font-weight: 300;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.profilePics{

margin-left: 20%;
  


    /*margin: 1.66%; */ 
}

.BioPics{

   padding-bottom: 24%;
}

.PicSubText{
   margin-left: 23%;
   margin-right: 8%;
  font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    

}

.BioText{
  margin-top: 2%;
  margin-left: 15%;
   margin-right: 2%;
  font-size: 14px;
width: 30%;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
    text-align: center
    

}

#CoFounder{
  color: #333;
}


.container.custom-container {

  background-color: #f7f7f7;
  width: 80%;
  margin: auto
  
}


/*th{
  border:  2px solid white;
  padding-right: 20%;
    padding-left: 20%;
  
}

*/

/*****************************************  Learn Page  ***************************************************/


#navHeader{
    position: fixed;
    padding: 0;
   
}


#learnJumbo{
background-image: url('Pylons.jpg') ;
width: 100%;
background-size: 100% auto;
max-height: 100%;
border: 3px solid blue;
overflow:hidden;
background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}

/*#learnPic{*/
/*   width: 100%;*/
/*    height: auto;*/
/*    max-height: 100%;*/
/*    position: fixed; */
/*    display: block;*/
/*    background-size: 100%;*/
/*    z-index: -999;*/
/*    margin: 0;*/
/*    padding:0;*/
/*    background-size: cover;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

#learnTitleThe{
  margin-top: 8%;
 margin-left: 3%;
 
  font-size: 8vmax;
  padding-bottom: 1%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  float: left;

}

#learnTitleFacts{

 margin-left: 0%;
 margin-top: 14%;
  font-size: 8vmax;
  padding-bottom: 1%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  float: left;
  
}

.screenSeparator{
  width: 100%;
   height:100%;
    max-height: 100%;
    position: fixed; 
    display: block;
    background-size: 100%;
   
    margin: 0;
    padding:0;
    background-size: cover;
  
    position: absolute;
    top: 0;
    
    left: 0;
    
     border: 3px solid blue;
}
.firstFact{

  border:  2px solid black;
}


